<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>tabela Pessoal</title>
    </head>
    <body>
        <table border="1">
    <tr>
        <th>{{materia1}}</th>
        <th>{{materia2}}</th>
        <th>{{materia3}}</th>
    </tr>
    <tr>
        <td>{{m1_1}}</td>
        <td>{{m2_1}}</td>
        <td>{{m3_1}}</td>
    </tr>
    <tr>
        <td>{{m1_2}}</td>
        <td>{{m2_2}}</td>
        <td>{{m3_2}}</td>
    </tr>
    <tr>
        <td>{{m1_3}}</td>
        <td>{{m2_3}}</td>
        <td>{{m3_3}}</td>
    </tr>
</table>
    </body>
</html>


